
.Box {
    border:1px solid #eaeaea !important;
    border-radius: 6px;
    padding: 20px 30px 30px 30px;
    margin: 10px 2.5%;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(191,191,191,0.59);
    -moz-box-shadow: 2px 3px 5px 0px rgba(191,191,191,0.59);
    box-shadow: 2px 3px 5px 0px rgba(191,191,191,0.59);
}

.Box-Title {
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    margin-bottom: 12px;
    border-bottom: solid 1px #eee;
    padding-bottom: 12px;
    color: #505050;
}

